doctype html
html
  head
    meta(charset='UTF-8')
    title Task 5.7
    style.
      body {background-color:lightblue;}
      h1 {color:#363670;}
      form {background-color: #777da3;
      width: 200px;}
      label {color: whitesmoke}
  body
    h1 Welcome to our login page.
    a(href='http://localhost:3000/auth/google') Please sign in.
      
//path from json 
// https://accounts.google.com/o/oauth2/auth
