doctype html
html
  head
    meta(charset='UTF-8')
    title Task 5.7
    style.
      body {background-color:lightblue;}
      h1 {color:blue;}
      h2 {color:red;}
  body
    h1  Welcome to Google! 
    h2 #{user}